.more{
    padding-top: 120px;
}

.more .more__btn-list,
.more .more__suggestions-list {
    margin: 20px 0px;    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.more .more__btn-list .more__btn{
    width: 80px;
}

.more__btn-list .more__btn,
.more .suggestion {    
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.more__btn .more__btn-title {
    font-size: 14px;
    margin-top: 15px;
}

.more .more__suggestions {
    border-top: 1px solid #f7f7f7;
    padding-top: 20px;
}

.more .more__title {
    opacity: 0.8;
    margin-bottom: 20px;
}

.suggestion .suggestion__title {
    font-size: 12px;
    margin-top: 15px;
}

.suggestion .suggestion__icon {
    background-color: #fce006;    
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.suggestion__icon {
    font-size: 28px;
    color: #fff;
}

.weather{
    width: 100%;
    border-top: 1px solid #f7f7f7;
    padding-top: 20px;
}

.weather span{
    font-size: 12px;
}

.weather-box{
    margin-top: 10px;
    display: flex;   
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.weather__column:first-child{
    display: flex;
    align-items: center;
}
.weather__column:first-child > i{
    color: rgb(255, 153, 0);
    animation: move 2s infinite;

}

@keyframes move{
    from{
        transform: 0;
    }
    to{
        transform: rotate(0.5turn);
    }
}
.weather__column:first-child >span{
    font-size: 26px;
    margin-left: 5px;
}


.weather__column2{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.weather__column2 > span{
    padding: 3px 0;
}
.weather__column2 > span:nth-child(2){
    color: rgb(0, 156, 0);
}

.weather__column:last-child > i{
    color: rgb(54, 54, 54);
    width: 10px;
}
